<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sykkel Menu</title>
<!-- Bootstrap -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
<!-- Fuentes google -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,400,500,700" rel="stylesheet">
<!-- Enlaza CSS -->
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body>
    <section class="vista-2">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <img class="logo-p" src="../assets/icon/logo-morado.png" alt="logo-morado">
            <h3 class="sykkel-p">Sykkel</h3>
          </div>
        </div>
        <div class="row">
          <div class="container-fluid col-xs-12 caja">
            <div class="container btn-b">
              <img class="i-btn" src="../assets/icon/i-mapa-b.png" alt="mapa">
              <h4 class="name-b">Mapa</h4>
            </div>
            <div class="container btn-v">
              <img class="i-btn" src="../assets/icon/i-clima-b.png" alt="clima">
              <h4 class="name-b">Clima</h4>
            </div>
            <div class="container btn-v">
              <img class="i-btn" src="../assets/icon/i-sos-b.png" alt="sos">
              <h4 class="name-b">SOS</h4>
            </div>
            <div class="container btn-b">
              <img class="i-btn" src="../assets/icon/i-grupos-b.png" alt="grupos">
              <h4 class="name-b">Grupos</h4>
            </div>
            <div class="container btn-b">
              <img class="i-btn" src="../assets/icon/i-eventos-b.png" alt="eventos">
              <h4 class="name-b">Eventos</h4>
            </div>
            <div class="container btn-v">
              <img class="i-btn" src="../assets/icon/i-bicibus-b.png" alt="bicibus">
              <h4 class="name-b">Bicibus</h4>
            </div>
            <a href="perfil.html"><div class="container btn-v">
              <img class="i-btn" src="../assets/icon/i-perfil-b.png" alt="perfil">
              <h4 class="name-b">Perfil</h4></a>
            </div>
            <a href="home.html"><div class="container btn-b">
              <img class="i-btn" src="../assets/icon/i-home-b.png" alt="home">
              <h4 class="name-b">Home</h4>
            </div></a>
          </div>
          <div class="col-xs-10 col-xs-push-1">
            <button class="menu-btn-1" type="button" name="button"><i class="fa fa-cog" aria-hidden="true"></i></button>
            <a href="../index.html"><button class="menu-btn-2" type="button" name="button"><i class="fa fa-power-off" aria-hidden="true"></i></button></a>
          </div>
        </div>
      </div>
    </section>

<!-- SCRIPTS FIREBASE -->
    <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-auth.js"></script>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../js/jquery-3.3.1.min.js" charset="utf-8"></script>
<!--Js -->
    <script type="text/javascript" src="../js/app.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../js/bootstrap.min.js"></script>
<!-- Iconos -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

  </body>
</html>
